.jiw{
    margin-top:50px;
}

.button1{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 50%;
    margin-left: 25%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button2{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 85%;
    margin-left: 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}