*{
    box-sizing : border-box;
}
.main{
    background-color: #d8d8d8;
    color: black;
    font-family: 'Mitr', sans-serif;
    margin-top : 1%;
}
#header{
    margin-left: 1%;
    margin-top: 2%;
}
p{
    text-align : center;
    margin-top : 0;
    font-size: 150%;
}
span{
    text-align : center;
    margin-top : 0;
    font-size: 150%;
}
.bottomTable td{
    padding: 1% 1% 1% 1%;
    text-align: center;
    border: 3px solid #5194ff;
}
.outer-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.outer-flex-container > div{
    width: 33%;
    padding: 1%;
    text-align: center;
}
.outer-flex-container > div > p{
    display: inline;
    text-align: left;
}
.bottom-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
}
.bottom-flex-container > div{
    width: 50%;
    text-align: center;
}
.bottom-flex-container > div > p{
    display: inline;
}
@media only screen and (max-width: 1700px){
    .outer-flex-container > div > p{
        display: block;
        text-align: center;
    }
    .outer-flex-container > div{
        padding: 1%;
        text-align: center;
    }
    p{
        text-align : center;
        margin-top : 0;
        font-size: 120%;
        padding-left: 3%;
    }
    span{
        text-align : center;
        margin-top : 0;
        font-size: 120%;
    }
}
@media only screen and (max-width: 1300px){
    .outer-flex-container{
        display: flex;
        flex-direction: column;
        margin-left: 3%;
    }
    .outer-flex-container > div > p{
        display: block;
        text-align: left;
    }
    .outer-flex-container > div{
        padding: 1%;
        text-align: left;
    }
    #header{
        margin-left: 3%;
        margin-top: 2%;
    }
    p{
        text-align : center;
        margin-top : 0;
        font-size: 100%;
    }
    span{
        text-align : center;
        margin-top : 0;
        font-size: 100%;
    }
}
@media only screen and (max-width: 900px){
    .bottom-flex-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2%;
        margin-left: 1%;
    }
    .bottom-flex-container > div{
        width: 100%;
        text-align: left;
    }
}